<style>
.text-box{
padding:4px;
}
</style>
<center>
<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label 'Display name' %><br><br>
    <%= f.text_field :name, :class => 'text-box' %>
<%= f.submit 'Update', :class => 'btn btn-default' %>
  </p>

<% end %>
</center>
