<script>
$(document).ready(function(){
	$("#p_pass").hide();
	$("#public_true").click(function(){
		$("#p_pass").hide();
	});
	$("#public_false").click(function(){
		$("#p_pass").show();
	});
});
</script>
<h2>Create Group</h2>
<%= form_for @group do |f| %>
	<% if @group.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@group.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
  	<%= radio_button_tag :public, true, true %>
  	<%= label_tag 'Public' %>
  	<%= radio_button_tag :public, false%>
  	<%= label_tag 'Private' %>
  </p>
  
  <p id="p_pass">
  	<%= label_tag 'Password' %>
  	<%= f.text_field :password %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
