<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
#messages_table {
	overflow-y: scroll;
	overflow-x: hidden;
	height:400px;
	width:100%;
}
#main {
	width:70%;
	left:15%;
	position:relative;
}
#message_form {
	display:inline-block;
	margin-right:20px;
}
</style>
<%= render partial:"bubble_style" %>
<%= render partial:"messages_script" %>
<div id="main">
<h1 style="float:left;"><%= @group.name %></h1>
<div class="fb-share-button" data-href="<%= request.original_url %>/" data-layout="button" style="float:right;">Join <%= @group.name %> on Groupit></div>
<%= link_to 'QR Code',group_qr_path(@group), style:'float:right;' %>
<hr style="clear:both;"/>
<div id="messages_table">
  <% @messages.each do |message| %>
		<% if message.user == current_user %>
    <div class="bubble bubble--alt">
		<% else %>
		<div class="bubble">
		<% end %>
      <%= message.user.name %>:<%= message.text %>
    </div>
  <% end %>
</div>
<hr style="clear:both;"/>
<div>
<%= form_tag(group_messages_path(params[:id]), method: :post, remote: true, id:'message_form', style:'display:none;') do %>
<%= hidden_field_tag :text, "OK" %>
<% end %>
<input type="text" id="message_text">
<input type="button" onclick="send_message(); $('#message_text').focus();" value="send">
</div>

</div>
