<style>
#messages_table {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 55vh;
	width:100%;
}
#main {
	width:70%;
	left:15%;
	position:relative;
}
/*
#basic-addon1,
#basic-addon2{
background-color:white;
margin:none;
padding:none;
height:0px;
}
*/
#message_text{
width:100%;
}
a{
color:#00B85C;
}
a:hover{
color:#00743A;
}
hr{
color:#eee;
background-color:#eee;
height:1px;
}
</style>

<%= render partial:"bubble_style" %>
<%= render partial:"messages_script" %>

<div id="main">
<div id="title" style="clear:both;"><a href="/"><span class="glyphicon glyphicon-arrow-left" style="font-size:20px;"></span></a>
<span style="font-size:35px;font-weight:bold;color:#00743A;">&nbsp;&nbsp;<%= @group.name %></span>
<a href="<%= @group.id %>/qr" style="float:right;font-size:150%;">
<span class="glyphicon glyphicon-qrcode">
</span>
Share
</a>
</div>
<hr style="clear:both;"/>
<div id="messages_table">

  <% @messages.each do |message| %>
		<div class="bubble <%= raw (message.user == current_user)? 'bubble--alt':"" %>">
			<div class="b-sender"><%= message.user.name %></div>
			<div class="b-text">
			<%= message.text %>
			<% if message.has_image %>
			<%= image_tag(message.image.url, alt: "image") %>
			<% end %>
		</div>
    </div>
  <% end %>

</div>
<hr style="clear:both;"/>
<div class="row">

<%= form_tag(group_messages_path(params[:id]), method: :post, remote: true, multipart: true, id:'message_form', style:'display:none;') do %>
<%= hidden_field_tag :text,'OK' %>
<%= file_field_tag :image %>
<% end %>
<div class="input-group">

<div class="input-group-btn">
<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><span class="glyphicon glyphicon-plus"></span></button>
<ul class="dropdown-menu" role="menu">
          <li id="open_image" onclick="$('#message_form #image').click(); return false"><a href="#"><span>Image</span></a></li>
          <li><a href="#">Document</a></li>
          <li><a href="#">Something else</a></li>
</ul>
</div>

<input type="text" id="message_text" class="form-control" placeholder="Enter message here..." autofocus/>

<span class="input-group-btn">
<input type="button" style="display:inline_block;" class="btn btn-success" onclick="send_message(); $('#message_text').focus();" value="send"/>
</span>
</div><!-- /input-group -->


</div> <!-- /row -->
</div> <!-- /main -->
